Google-Calander-Events.json
[
    {
        "id": "bf010e953c18e983",
        "type": "function",
        "z": "8768be8507496bd0",
        "name": "GET Calendars",
        "func": "var token = global.get('Google_token');\n\nvar date_time = Date.now();\nvar date1 = new Date(date_time)\nvar timestamp = date1.toLocaleDateString('en-UK');\n\nfunction padZero(i) {\n    return i < 10 ? \"0\"+i : i;\n}\nconst dateString = timestamp;\nconst parts = dateString.split(\"/\");\nconst date = new Date(Number(parts[2]), Number(parts[1]) - 1, Number(parts[0]));\nconst newDateString = date.getFullYear()+'-' + (padZero(date.getMonth()+1)) + '-'+padZero(date.getDate());\n\n\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \"+token;\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['Cache-Control'] = 'no-cache';\n\nmsg.url = \"https://www.googleapis.com/calendar/v3/calendars/\" + msg.calendar + \"/events?timeMin=\" + newDateString + \"T00:00:00-00:00\";\nmsg.method = \"GET\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 460,
        "wires": [
            [
                "2e235f55fa98da10"
            ]
        ]
    },
    {
        "id": "2e235f55fa98da10",
        "type": "http request",
        "z": "8768be8507496bd0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "52973c9717c9bf0e"
            ]
        ]
    },
    {
        "id": "541f6d98a07e3a9a",
        "type": "inject",
        "z": "8768be8507496bd0",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "c2698e3fe585dc50"
            ]
        ]
    },
    {
        "id": "52973c9717c9bf0e",
        "type": "debug",
        "z": "8768be8507496bd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "c2698e3fe585dc50",
        "type": "credentials",
        "z": "8768be8507496bd0",
        "name": "Calendar ID",
        "props": [
            {
                "value": "calendar",
                "type": "msg"
            }
        ],
        "x": 310,
        "y": 460,
        "wires": [
            [
                "bf010e953c18e983"
            ]
        ]
    },
    {
        "id": "8add0a0fbed8fbc0",
        "type": "comment",
        "z": "8768be8507496bd0",
        "name": "Upcoming Calendar events",
        "info": "",
        "x": 190,
        "y": 400,
        "wires": []
    },
    {
        "id": "62dd02dc7530f98d",
        "type": "function",
        "z": "8768be8507496bd0",
        "name": "POST Calendars",
        "func": "var token = global.get('Google_token');\n\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \"+token;\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['Cache-Control'] = 'no-cache';\n\nmsg.url = \"https://www.googleapis.com/calendar/v3/calendars/\" + msg.calendar + \"/events\";\nmsg.method = \"POST\";\n\nmsg.payload = {\n  \"end\": {\n    \"date\": \"2022-04-28\"\n  },\n  \"start\": {\n    \"date\": \"2022-04-28\"\n  },\n  \"description\": \"test\",\n  \"summary\": \"test\"\n};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "23e582285c0b8338"
            ]
        ]
    },
    {
        "id": "23e582285c0b8338",
        "type": "http request",
        "z": "8768be8507496bd0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "d083803dda4c6637"
            ]
        ]
    },
    {
        "id": "1d17ab50095fcd13",
        "type": "inject",
        "z": "8768be8507496bd0",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "0a3ef1b744c3b582"
            ]
        ]
    },
    {
        "id": "d083803dda4c6637",
        "type": "debug",
        "z": "8768be8507496bd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "0a3ef1b744c3b582",
        "type": "credentials",
        "z": "8768be8507496bd0",
        "name": "Calendar ID",
        "props": [
            {
                "value": "calendar",
                "type": "msg"
            }
        ],
        "x": 310,
        "y": 580,
        "wires": [
            [
                "62dd02dc7530f98d"
            ]
        ]
    },
    {
        "id": "4ed68d312fa881cc",
        "type": "comment",
        "z": "8768be8507496bd0",
        "name": "Create event",
        "info": "",
        "x": 150,
        "y": 520,
        "wires": []
    }
]
